<!-- Intro Title Section 2 -->
<div class="section-block intro-title-2">
  <div class="row">
    <div class="column width-12">
      <div class="title-container">
        <div class="title-container-inner">
          <h1 class="inline no-margin-bottom">Cérémonie</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Intro Title Section 2 End -->


  <!-- Collection Grid -->
  <div class="section-block replicable-content team-2 bkg-grey-ultralight">
    <div class="row">
      <div class="column width-12">
        <div class="row content-grid-3 masonry-grid set-dimensions">
          <div class="multiple-items">
              <% for(var i=1; i<20; i++) {%>
                <div class="slide_custom">
                  <a href="/images/slider/ete/<%= i %>.jpg" data-lightbox="Collection été" ><img src="/images/slider/ete/<%= i %>.jpg" alt="" /></a>
                </div>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Collection Grid End -->
