<!-- Intro Title Section 2 -->
<div class="section-block intro-title-2">
  <div class="row">
    <div class="column width-12">
      <div class="title-container">
        <div class="title-container-inner">
          <h1 class="inline no-margin-bottom">Hiver</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Intro Title Section 2 End -->


  <!-- Collection Grid -->
  <div class="section-block replicable-content team-2 bkg-grey-ultralight">
    <div class="row">
      <div class="column width-12">
        <div class="row content-grid-3 masonry-grid set-dimensions">
          <a href="/collection/ete">
            <div class="grid-item grid-sizer">
              <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
                <img src="/images/collections/summer.jpeg" width="570" height="570" alt=""/>
              </div>
            </div>
          </a>
          <a href="/collection/hiver">
            <div class="grid-item grid-sizer">
              <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
                <img src="/images/collections/winter.jpeg" width="570" height="570" alt=""/>
              </div>
            </div>
          </a>

          <a href="/collection/ceremonie">
            <div class="grid-item">
              <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
                <img src="/images/collections/ceremony.jpeg" width="570" height="570" alt=""/>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Collection Grid End -->
