
			<!-- Header -->
			<header class="header header-fixed header-fixed-on-mobile header-transparent" data-sticky-threshold="window-height" data-bkg-threshold="100">
				<div class="header-inner">
					<div class="row nav-bar">
						<div class="column width-12 nav-bar-inner">
							<div class="logo">
								<div class="logo-inner">
									<a href="index.html"><img src="images/barber-shop/logo-dark.png" alt="Sartre Logo" /></a>
									<a href="index.html"><img src="images/barber-shop/logo.png" alt="Sartre Logo" /></a>
								</div>
							</div>
							<nav class="navigation nav-block secondary-navigation nav-right">
								<ul>

									<li class="aux-navigation hide">
										<!-- Aux Navigation -->
										<a href="#" class="navigation-show overlay-nav-show nav-icon">
											<span class="icon-menu"></span>
										</a>
									</li>
								</ul>
							</nav>
							<nav class="navigation nav-block primary-navigation nav-right no-margin-right">
								<ul>
									<li class="current">
										<a href="/">Accueil</a>
                  </li>
									<li>
										<a href="/histoire">Hisoire</a>
                  </li>
                  <li>
										<a href="/collection">Collection</a>
										<ul class="sub-menu">
											<li>
												<a href="/collection/hiver">Hiver</a>
											</li>
											<li>
												<a href="/collection/ete">Été</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="/contact">Contact</a>
                  </li>
	               </ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!-- Header End -->
