<!-- Overlay Navigation Menu / responsive -->
<div class="overlay-navigation-wrapper enter-bottom" data-no-scrollbar data-animation="slide-in">
  <div class="overlay-navigation-scroll-pane">
    <div class="overlay-navigation-inner">
      <div class="v-align-middle">
        <div class="overlay-navigation-header row collapse full-width">
          <div class="column width-12">
            <div class="navigation-hide overlay-nav-hide">
              <a href="#">
                <span class="icon-cancel"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="row collapse full-width">
          <div class="column width-12">
            <nav class="overlay-navigation nav-block">
              <h4 class="menu-title">Menu</h4>
              <ul>
                <li>
                  <a href="#" class="contains-sub-menu">Demos</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="index-mobile-application.html">Mobile Application</a>
                    </li>
                    <li>
                      <a href="index-web-application.html">Web Application</a>
                    </li>
                    <li class="current">
                      <a href="index-barber-shop.html">Barber Shop</a>
                    </li>
                    <li>
                      <a href="index-design-agency.html">Agency</a>
                    </li>
                    <li>
                      <a href="index-travel-agency.html">Travel Agency</a>
                    </li>
                    <li>
                      <a href="index-restaurant.html">Restaurant</a>
                    </li>
                    <li>
                      <a href="index-resume.html">Resume <span class="label">New</span></a>
                    </li>
                    <li>
                      <a href="index-photo-studio.html">Photo Studio</a>
                    </li>
                    <li>
                      <a href="index-architecture.html">Architecture</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="contains-sub-menu">Pages</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="about-style-one.html">About Original</a>
                    </li>
                    <li>
                      <a href="about-style-two.html">About Style 2</a>
                    </li>
                    <li>
                      <a href="about-style-three.html">About Style 3</a>
                    </li>
                    <li>
                      <a href="services-style-one.html">Services Original <span class="label">New</span></a>
                    </li>
                    <li>
                      <a href="services-style-two.html">Services Style 2 <span class="label">New</span></a>
                    </li>
                    <li>
                      <a href="services-style-three.html">Services Style 3 <span class="label">New</span></a>
                    </li>
                    <li>
                      <a href="contact-style-one.html">Contact Original</a>
                    </li>
                    <li>
                      <a href="contact-style-two.html">Contact Style 2</a>
                    </li>
                    <li>
                      <a href="contact-style-three.html">Contact Style 3</a>
                    </li>
                    <li>
                      <a href="404.html">404</a>
                    </li>
                    <li>
                      <a href="500.html">500</a>
                    </li>
                    <li>
                      <a href="maintenance.html">Maintenance</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="contains-sub-menu">Blog</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="blog.html">3 Column Grid</a>
                    </li>
                    <li>
                      <a href="blog-four-columns-full-width.html">4 Column Full Width Grid</a>
                    </li>
                    <li>
                      <a href="blog-sidebar-right-with-media.html">Blog Index Sidebar Right</a>
                    </li>
                    <li>
                      <a href="blog-sidebar-left-with-media.html">Blog Index Sidebar Left</a>
                    </li>
                    <li>
                      <a href="blog-wide-no-sidebar.html">Blog Without Sidebar</a>
                    </li>
                    <li>
                      <a href="blog-masonry-creative.html">Blog Creative</a>
                    </li>
                    <li>
                      <a href="blog-masonry-creative-with-parallax.html">Blog Creative 2 <span class="label">New</span></a>
                    </li>
                    <li>
                      <a href="blog-single-post-sidebar-right.html">Single Post Sidebar Right</a>
                    </li>
                    <li>
                      <a href="blog-single-post-sidebar-left.html">Single Post Sidebar Left</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="contains-sub-menu">Shop</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="shop-grid.html">Shop Grid</a>
                    </li>
                    <li>
                      <a href="shop-creative.html">Shop Creative</a>
                    </li>
                    <li>
                      <a href="shop-sidebar-right.html">Shop Sidebar Right</a>
                    </li>
                    <li>
                      <a href="single-product-with-gallery.html">Product With Gallery</a>
                    </li>
                    <li>
                      <a href="single-product-with-header.html">Product With Header</a>
                    </li>
                    <li>
                      <a href="single-product-with-parallax.html">Product With Parallax</a>
                    </li>
                    <li>
                      <a href="single-product-on-sale.html">Product On Sale</a>
                    </li>
                    <li>
                      <a href="single-product-no-stock.html">Product Out Of Stock</a>
                    </li>
                    <li>
                      <a href="cart.html">Cart</a>
                    </li>
                    <li>
                      <a href="checkout.html">Checkout</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="contains-sub-menu">Folio</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="portfolio-three-columns.html">3 Column Grid Default</a>
                    </li>
                    <li>
                      <a href="portfolio-three-columns-alternative.html">3 Column Grid Alt</a>
                    </li>
                    <li>
                      <a href="portfolio-three-columns-full-width.html">3 Column Grid Full Width</a>
                    </li>
                    <li>
                      <a href="portfolio-three-columns-full-width-no-margins.html">3 Column Grid Full Width No Margins</a>
                    </li>
                    <li>
                      <a href="portfolio-four-columns-full-width-alternative.html">4 Column Grid Full Width Alt</a>
                    </li>
                    <li>
                      <a href="portfolio-four-columns-full-width-no-margins.html">4 Column Grid Full Width No Margins</a>
                    </li>
                    <li>
                      <a href="portfolio-masonry-grid.html">Full Width Masonry Grid</a>
                    </li>
                    <li>
                      <a href="portfolio-masonry-grid-no-margins.html">Full Width Masonry Grid No Margins</a>
                    </li>
                    <li>
                      <a href="project-style-one.html">Project Style One</a>
                    </li>
                    <li>
                      <a href="project-style-two.html">Project Style Two</a>
                    </li>
                    <li>
                      <a href="project-style-three.html">Project Style Three</a>
                    </li>
                    <li>
                      <a href="project-style-four.html">Project Style Four</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="elements.html">Elements</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="overlay-navigation-footer row full-width">
          <div class="column width-12 no-padding">
            <p class="copyright no-margin-bottom">&copy; 2014 THEMEMOUNTAIN. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Overlay Navigation Menu End -->
