<!-- Overlay Navigation Menu / responsive -->
<div class="overlay-navigation-wrapper enter-bottom" data-no-scrollbar data-animation="slide-in">
  <div class="overlay-navigation-scroll-pane">
    <div class="overlay-navigation-inner">
      <div class="v-align-middle">
        <div class="overlay-navigation-header row collapse full-width">
          <div class="column width-12">
            <div class="navigation-hide overlay-nav-hide">
              <a href="#">
                <span class="icon-cancel"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="row collapse full-width">
          <div class="column width-12">
            <nav class="overlay-navigation nav-block">
              <h4 class="menu-title">Menu</h4>
              <ul>
                <li>
                  <a href="/">Accueil</a>
                </li>
                <li>
                  <a href="/histoire">Histoire</a>
                </li>
                <li>

                  <a class="contains-sub-menu" href="/collection">Collections</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="/collection/hiver">Hiver</a>
                    </li>
                    <li>
                      <a href="/collection/ete">Été</a>
                    </li>
                    <li>
                      <a href="/collection/ceremonie">Cérémonie</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="/contact">Contact</a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
        <div class="overlay-navigation-footer row full-width">
          <div class="column width-12 no-padding">
            <p class="copyright no-margin-bottom">&copy; 2014 THEMEMOUNTAIN. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Overlay Navigation Menu End -->
