<!-- Content -->
<div class="content clearfix">




          <% if (saison == "index") { %>
                    <% include ../partials/collectionGrid %>
          <% } %>
          <% if (saison == "ete") { %>
                    <% include ../partials/collectionEte %>
          <% } %>
          <% if (saison == "hiver") { %>
                    <% include ../partials/collectionHiver %>
          <% } %>
          <% if (saison == "ceremonie") { %>
                    <% include ../partials/collectionCeremonie %>
          <% } %>


          <div class="section-block replicable-content pt-110 pb-80 call-to-action-2 call-to-action-2-1 bkg-grey-ultralight background-cover">
            <div class="row">
              <div class="column width-8 offset-2 center horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="1">
                <p>Prenez rendez-vous au showroom!</p>
              </div>
              <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:300ms;" data-threshold="1">
                <a href="/contact" class="button buy-template medium text-uppercase border-white bkg-hover-turquoise color-white color-hover-white left mb-50">
                  Prendre rendez-vous
                </a>
              </div>
            </div>
          </div>
</div>
<!-- Content End -->
