<!-- Content -->
<div class="content clearfix">

  <!-- Intro Title Section 2 -->
  <div class="section-block intro-title-2">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner">
            <h1 class="inline no-margin-bottom">Nos collections</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 2 End -->

  <!-- Team Grid -->
  <div class="section-block replicable-content team-2 bkg-grey-ultralight">
    <div class="row">
      <div class="column width-4">
        <h3 class="mb-50">Cette année</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="column width-8">
        <div class="row content-grid-2 masonry-grid set-dimensions">
          <div class="grid-item grid-sizer">
            <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <img src="images/team/team-member-1.jpg" width="570" height="570" alt=""/>
            </div>
          </div>
          <div class="grid-item">
            <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
              <img src="images/team/team-member-2.jpg" width="570" height="570" alt=""/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team Grid End -->


  <div class="section-block replicable-content pt-110 pb-80 call-to-action-2 call-to-action-2-1 bkg-grey-ultralight background-cover">
    <div class="row">
      <div class="column width-8 offset-2 center horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="1">
        <p>Stand out from the crowd! Create you site with Sartre.</p>
      </div>
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:300ms;" data-threshold="1">
        <a class="button buy-template medium text-uppercase border-white bkg-hover-turquoise color-white color-hover-white left mb-50">
          Contactez-nous
        </a>
      </div>
    </div>
  </div>

</div>
<!-- Content End -->
