<!-- Content -->
<div class="content clearfix">

  <!-- Intro Title Section 2 -->
  <div class="section-block intro-title-2">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner">
            <h1 class="inline no-margin-bottom">L'histoire</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 2 End -->

  <!-- Hero 5 Section -->
  <div class="section-block hero-5 right show-media-column-on-mobile">
    <div class="media-column width-6 horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="0.6"></div>

    <div class="row">
      <div class="column width-6">
        <div class="hero-content split-hero-content">
          <div class="hero-content-inner left">
            <h3 class="mb-30">Nos valeurs</h3>
            <p>S.Platinium porte une attention particulière au tombé du vêtement et à sa ligne. Adepte d’une silhouette moderne, près du corps, aux mesures de ses clients.</p>
            <p>La facture haut de gamme de ses costumes, chemises  aux étoffes d’exception qu’elle utilise. Les tissus sont sélectionnés pour leur souplesse et leur finesse chez les plus grands fabricants tels que Holland & Sherry, Scabal, Loro Piana etc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero 5 Section End -->

  <!-- Hero 5 Section -->
  <div class="section-block hero-5 hero-5-2 show-media-column-on-mobile bkg-charcoal">
    <div class="media-column width-6 horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:200ms;" data-threshold="0.6"></div>
    <div class="row">
      <div class="column width-6 push-6">
        <div class="hero-content split-hero-content">
          <div class="hero-content-inner left">
            <h3 class="mb-30 color-white">sur mesure</h3>
            <p class="color-grey-light">Avec une attention toute particulière sur la qualité des tissus, nous vous offrons un choix très vaste choix de couleurs, de composition et de poids pour satisfaire les exigences les plus diverses tout en conservant notre capacité d'adaptation</p>
            <p class="color-grey-light">La réalisation sur mesure est à votre disposition pour une personnalisation complète de votre tenue de ville ou de cérémonie (costumes, chemises, gilets, accessoires). Spécialiste de la confection sur mesure. Délais de 4 à 5 semaines.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero 5 Section End -->

  <div class="section-block replicable-content pt-110 pb-80 call-to-action-2 call-to-action-2-1 bkg-grey-ultralight background-cover">
    <div class="row">
      <div class="column width-8 offset-2 center horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="1">
        <p>Prenez rendez-vous au showroom!</p>
      </div>
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:300ms;" data-threshold="1">
        <a class="button buy-template medium text-uppercase border-white bkg-hover-turquoise color-white color-hover-white left mb-50">
          Prendre rendez-vous
        </a>
      </div>
    </div>
  </div>

</div>
<!-- Content End -->
