<!-- Content -->
<div class="content clearfix">

  <!-- Intro Title Section 2 -->
  <div class="section-block intro-title-2">
    <div class="row">
      <div class="column width-12">
        <div class="title-container">
          <div class="title-container-inner">
            <h1 class="inline no-margin-bottom">L'histoire</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Title Section 2 End -->

  <!-- Hero 5 Section -->
  <div class="section-block hero-5 right show-media-column-on-mobile">
    <div class="media-column width-6 center horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="0.6">
      <iframe src="https://player.vimeo.com/video/132254814?portrait=0&amp;title=0&amp;byline=0&amp;loop=1&amp;color=0cbacf"></iframe>
    </div>
    <div class="row">
      <div class="column width-6">
        <div class="hero-content split-hero-content">
          <div class="hero-content-inner left">
            <h3 class="mb-30">Nos valeurs</h3>
            <p class="lead">Texte en plus ?</p>
            <p>S.Platinium porte une attention particulière au tombé du vêtement et à sa ligne. Adepte d’une silhouette moderne, près du corps, aux mesures de ses clients.</p>
            <p>La facture haut de gamme de ses costumes, chemises  aux étoffes d’exception qu’elle utilise. Les tissus sont sélectionnés pour leur souplesse et leur finesse chez les plus grands fabricants tels que Holland&Sherry ,Scabal ,Loro Piana.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero 5 Section End -->

  <!-- Hero 5 Section -->
  <div class="section-block hero-5 hero-5-2 show-media-column-on-mobile bkg-charcoal">
    <div class="media-column width-6 horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:200ms;" data-threshold="0.6"></div>
    <div class="row">
      <div class="column width-6 push-6">
        <div class="hero-content split-hero-content">
          <div class="hero-content-inner left">
            <h3 class="mb-30 color-white">sur mesure</h3>
            <p class="color-grey-light">Avec une attention toute particulière sur la qualité des tissus, nous vous offrons un choix très vaste choix de couleurs, de composition et de poids pour satisfaire les exigences les plus diverses tout en conservant notre capacité d'adaptation</p>
            <p class="color-grey-light">La réalisation sur mesure est à votre dispositon pour une personnalisation complète de votre tenue de ville ou de cérémonie (costumes, chemises, gilets, accessoires. Spécialiste de la confection sur mesure – Délais de 4 à 5 semaines – </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero 5 Section End -->

  <!-- Client Section Custom -->
  <div class="section-block clients-1 replicable-content">
    <div class="row">
      <div class="column width-4">
        <h3 class="mb-50">Nos clients</h3>
      </div>
      <div class="column width-8">
        <div class="row content-grid-4 flex">
          <div class="grid-item">
            <h5 class="client-name">Jorge Jense</h5>
            <span class="client-description font-alt-1">Design Firm</span>
          </div>
          <div class="grid-item">
            <h5 class="client-name">Adam Tarrens</h5>
            <span class="client-description font-alt-1">Clothing Brand</span>
          </div>
          <div class="grid-item">
            <h5 class="client-name">Bestreet</h5>
            <span class="client-description font-alt-1">Clothing Brand</span>
          </div>
          <div class="grid-item">
            <h5 class="client-name">Element</h5>
            <span class="client-description font-alt-1">Skateboard Co</span>
          </div>
          <div class="grid-item">
            <h5 class="client-name">Cantina</h5>
            <span class="client-description font-alt-1">French Bistro</span>
          </div>
          <div class="grid-item">
            <h5 class="client-name">Macaw</h5>
            <span class="client-description font-alt-1">iOS Application</span>
          </div>
          <div class="grid-item">
            <h5 class="client-name">Burlington Inc.</h5>
            <span class="client-description font-alt-1">Development</span>
          </div>
          <div class="grid-item">
            <h5 class="client-name">Thanner &amp; Co</h5>
            <span class="client-description font-alt-1">Sports Brand</span>
          </div>
          <div class="grid-item">
            <h5 class="client-name">Apple</h5>
            <span class="client-description font-alt-1">Electronics</span>
          </div>
          <div class="grid-item">
            <h5 class="client-name">Muska Co</h5>
            <span class="client-description font-alt-1">Clothing</span>
          </div>
          <div class="grid-item">
            <h5 class="client-name">Mullener</h5>
            <span class="client-description font-alt-1">Leather Goods</span>
          </div>
          <div class="grid-item">
            <h5 class="client-name">Rockabilly</h5>
            <span class="client-description font-alt-1">Barbershop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Client Section Custom End -->

  <div class="section-block replicable-content pt-110 pb-80 call-to-action-2 call-to-action-2-1 bkg-grey-ultralight background-cover">
    <div class="row">
      <div class="column width-8 offset-2 center horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="1">
        <p>Stand out from the crowd! Create you site with Sartre.</p>
      </div>
      <div class="column width-6 offset-3 center horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:300ms;" data-threshold="1">
        <a class="button buy-template medium text-uppercase border-white bkg-hover-turquoise color-white color-hover-white left mb-50">
          Contactez-nous
        </a>
      </div>
    </div>
  </div>

</div>
<!-- Content End -->
