<div class="content clearfix">

  <!-- Fullscreen Slider Section -->
  <section class="section-block featured-media window-height tm-slider-parallax-container">
    <div class="tm-slider-container full-width-slider" data-featured-slider data-progress-bar="false" data-parallax data-parallax-fade-out data-auto-advance data-animation="slide" data-scale-under="960">
      <ul class="tms-slides">
        <li class="tms-slide" data-image data-force-fit>
          <div class="tms-content">
            <div class="tms-content-inner center left-on-mobile v-align-middle">
              <div class="row">
                <div class="column width-12">
                  <h1 class="tms-caption title-xlarge color-white lspacing-medium mb-20 weight-bold"
                    data-animate-in="preset:scaleOut;duration:1000ms;"
                    data-no-scale
                  > S-Platinium
                  </h1>
                  <div class="clear"></div>
                  <a href="/collection" class="tms-caption button medium border-white bkg-hover-beige color-white color-hover-white text-uppercase no-margin-bottom"
                    data-animate-in="preset:slideInUpShort;duration:1000ms;delay:600ms;"
                    data-no-scale
                  >Découvrir les collections</a>
                </div>
              </div>
            </div>
          </div>
          <img data-src="/images/barber-shop/slider/slide-1-fs.jpg" data-retina src="/images/blank.png" alt=""/>
        </li>
      </ul>
    </div>
  </section>
  <!-- Fullscreen Slider Section End -->



</div>
<!-- Content End -->
