<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body class="shop home-page">

  <% include partials/menuResponsive %>

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">


      <% include partials/menu %>
			<!-- Content -->

      <% include content/homeSplash %>

		</div>
	</div>


  <% include partials/js %>
</body>
</html>
